In [1]:
import sqlalchemy as sqa
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
db = 'postgres://localhost/poker'
engine = sqa.create_engine(db)

In [3]:
df = pd.read_sql('v3vv4_2019_08_18_10:11', con=engine)
df.shape

(190961, 26)

In [4]:
for i in range(df.shape[0]):
    if df.at[i, 'player'] == 0.0 or df.at[i, 'player'] == 2.0 or df.at[i, 'player'] == 4.0:
        df.at[i, 'agent'] = 1
    else:
        df.at[i ,'agent'] = 2

In [5]:
df.head()

,index,action,active_0,active_1,active_2,active_3,active_4,agent,bet,bet_0,...,community3,community4,community5,game,hand1,hand2,player,position,round,reward
0,0,1,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,25.0,15.0,2.0,0.333333,0.25,-2800.0
1,1,1,1.0,1.0,1.0,1.0,1.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,36.0,8.0,3.0,0.500000,0.25,-3500.0
2,2,1,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,23.0,21.0,4.0,0.666667,0.25,-3400.0
3,3,2,1.0,1.0,1.0,1.0,1.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,14.0,44.0,5.0,0.833333,0.25,14700.0
4,4,1,1.0,1.0,1.0,1.0,1.0,1,0.005,0.010,...,0.0,0.0,0.0,1.0,47.0,33.0,0.0,0.000000,0.25,-1500.0

In [6]:
#df = 
df2 = df[['player', 'game', 'reward', 'agent']].groupby(['player', 'game', 'agent']).mean()
#df.groupby(['player', 'game']).mean()
#df.shape

In [7]:
df1 = df[df['agent']==1]
#df1
df3 = df1[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean().sum()#.describe()
df3.head()

reward   -1774450.0
dtype: float64

In [10]:
df2 = df[df['agent']==2]
df4 = df2[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean()#.sum()#.describe()
df4.head()

                    reward
player agent game
1.0    2     1.0   -3500.0
             2.0  -10000.0
             3.0  -10000.0
             4.0  -10000.0
             5.0  -10000.0

In [11]:
df1.shape, df2.shape, df3.shape, df4.shape

((83862, 26), (107099, 26), (1,), (3000, 1))

In [12]:
stat = stats.ttest_1samp(np.array(df4['reward']), 0)

In [13]:
stat.pvalue

0.08924977878012812

By agent:

In [14]:
df[['agent', 'reward', 'player', 'game']].groupby(['agent', 'player', 'game'], as_index=False).mean()[['agent', 'reward']].groupby(['agent']).mean()

           reward
agent
1     -591.483333
2      591.483333

By player:

In [15]:
df[['reward', 'player', 'game']].groupby(['player', 'game'], as_index=False).mean()[['player', 'reward']].groupby(['player']).mean()

         reward
player
0.0     -894.60
1.0      922.65
2.0      -63.15
3.0     1448.05
4.0     -816.70
5.0     -596.25