In [1]:
import sqlalchemy as sqa
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
db = 'postgres://localhost/poker'
engine = sqa.create_engine(db)

In [3]:
df = pd.read_sql('results', con=engine)
df.shape

(118135, 26)

In [4]:
for i in range(df.shape[0]):
    if df.at[i, 'player'] == 0.0 or df.at[i, 'player'] == 2.0 or df.at[i, 'player'] == 4.0:
        df.at[i, 'agent'] = 1
    else:
        df.at[i ,'agent'] = 2

In [6]:
df.head()

,index,action,active_0,active_1,active_2,active_3,active_4,agent,bet,bet_0,...,community3,community4,community5,game,hand1,hand2,player,position,round,reward
0,0,1,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,51.0,32.0,2.0,0.333333,0.25,-1200.0
1,1,2,1.0,1.0,1.0,1.0,1.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,7.0,18.0,3.0,0.500000,0.25,-10000.0
2,2,0,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,46.0,8.0,4.0,0.666667,0.25,0.0
3,3,2,1.0,1.0,1.0,1.0,0.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,49.0,29.0,5.0,0.833333,0.25,-10000.0
4,4,2,1.0,1.0,1.0,0.0,1.0,1,0.005,0.010,...,0.0,0.0,0.0,1.0,43.0,45.0,0.0,0.000000,0.25,-1500.0

In [50]:
#df = 
df2 = df[['player', 'game', 'reward', 'agent']].groupby(['player', 'game', 'agent']).mean()
#df.groupby(['player', 'game']).mean()
#df.shape

In [7]:
df1 = df[df['agent']==1]
#df1
df3 = df1[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean().sum()#.describe()
df3.head()

reward   -2.245165e+06
dtype: float64

In [13]:
df2 = df[df['agent']==2]
df4 = df2[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean()#.sum()#.describe()
df4.head()

                        reward
player agent game
1.0    2     1.0  -2052.083333
             2.0   6174.285714
             3.0   6102.877698
             4.0  -1726.428571
             5.0   6004.827586

In [14]:
df1.shape, df2.shape, df3.shape, df4.shape

((9740, 26), (108395, 26), (1,), (3000, 1))

In [15]:
stat = stats.ttest_1samp(np.array(df4['reward']), 0)

In [16]:
stat.pvalue

0.007202369292559113

By agent:

In [17]:
df[['agent', 'reward', 'player', 'game']].groupby(['agent', 'player', 'game'], as_index=False).mean()[['agent', 'reward']].groupby(['agent']).mean()

           reward
agent
1     -748.388173
2      743.338849

By player:

In [18]:
df[['reward', 'player', 'game']].groupby(['player', 'game'], as_index=False).mean()[['player', 'reward']].groupby(['player']).mean()

             reward
player
0.0     -759.101405
1.0     2714.393771
2.0     -723.221710
3.0     -231.657892
4.0     -762.841404
5.0     -252.719333