In [4]:
import sqlalchemy as sqa
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
db = 'postgres://localhost/poker'
engine = sqa.create_engine(db)

In [6]:
df = pd.read_sql('v1vv2_2019_08_17_11:01', con=engine)
df.shape

(21923, 26)

In [7]:
for i in range(df.shape[0]):
    if df.at[i, 'player'] == 0.0 or df.at[i, 'player'] == 2.0 or df.at[i, 'player'] == 4.0:
        df.at[i, 'agent'] = 1
    else:
        df.at[i ,'agent'] = 2

In [8]:
df.head()

,index,action,active_0,active_1,active_2,active_3,active_4,agent,bet,bet_0,...,community3,community4,community5,game,hand1,hand2,player,position,round,reward
0,0,2,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,52.0,21.0,2.0,0.333333,0.25,-700.0
1,1,1,1.0,1.0,1.0,1.0,1.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,5.0,48.0,3.0,0.500000,0.25,-800.0
2,2,2,1.0,1.0,1.0,1.0,1.0,1,0.000,0.005,...,0.0,0.0,0.0,1.0,11.0,47.0,4.0,0.666667,0.25,-600.0
3,3,1,1.0,1.0,1.0,1.0,1.0,2,0.000,0.005,...,0.0,0.0,0.0,1.0,40.0,38.0,5.0,0.833333,0.25,2550.0
4,4,0,1.0,1.0,1.0,1.0,1.0,1,0.005,0.010,...,0.0,0.0,0.0,1.0,1.0,50.0,0.0,0.000000,0.25,-50.0

In [9]:
#df = 
df2 = df[['player', 'game', 'reward', 'agent']].groupby(['player', 'game', 'agent']).mean()
#df.groupby(['player', 'game']).mean()
#df.shape

In [14]:
df1 = df[df['agent']==1]
#df1
df3 = df1[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean().sum()#.describe()
df3.head()

reward   -596800.0
dtype: float64

In [15]:
df2 = df[df['agent']==2]
df4 = df2[['player', 'game', 'reward', 'agent']].groupby(['player', 'agent', 'game']).mean()#.sum()#.describe()
df4.head()

                   reward
player agent game
1.0    2     1.0   -400.0
             2.0  -1800.0
             3.0  -1000.0
             4.0   -300.0
             5.0   -500.0

In [16]:
df1.shape, df2.shape, df3.shape, df4.shape

((8906, 26), (13017, 26), (1,), (2999, 1))

In [17]:
stat = stats.ttest_1samp(np.array(df4['reward']), 0)

In [18]:
stat.pvalue

1.80822431133688e-11

By agent:

In [19]:
df[['agent', 'reward', 'player', 'game']].groupby(['agent', 'player', 'game'], as_index=False).mean()[['agent', 'reward']].groupby(['agent']).mean()

           reward
agent
1     -198.933333
2      198.982994

By player:

In [20]:
df[['reward', 'player', 'game']].groupby(['player', 'game'], as_index=False).mean()[['player', 'reward']].groupby(['player']).mean()

            reward
player
0.0    -193.350000
1.0     200.700000
2.0    -197.150000
3.0     103.850000
4.0    -206.300000
5.0     292.492492