In [2]:
import random
from poker_game import Game
from agent import Agent

DB_TABLE = 'tests'
NR_OF_PLAYERS = random.randint(1, 10)

/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
def test_number_of_players():
    agent = Agent()
    GAME = Game(NR_OF_PLAYERS, 50, 10000, agent, DB_TABLE)
    assert len(GAME.players) == NR_OF_PLAYERS, f'The number of players should be {NR_OF_PLAYERS}'
    print('Executed successfully!')

In [4]:
test_number_of_players()

WARNING:tensorflow:From /Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/stefanroth/.local/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
successfully created player 1. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 2. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 3. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 4. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 5. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 6. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 7. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 8. He is a <agent.Agent object at 0x10f4d4dd8>.
successfully created player 9. He is a <agent.Agent object at 0x10f4d4dd8>.
Executed successfully!

In [5]:
a = {1, 2, 3}
b = {1, 2}
print(a.issuperset(b))

a = {1, 2, 3}
b = {1, 2, 3}
print(a.issuperset(b))

a = {1, 2, 3}
b = {1, 2, 4}
print(a.issuperset(b))

True
True
False

In [10]:
name = str(type(a))

In [11]:
type(name)

str

In [13]:
agent = Agent()
str(agent)

#game = Game(6, 50, 10000, )

'<agent.Agent object at 0x13201d710>'

In [15]:
import random
import warnings
import sqlalchemy
import pandas as pd
from poker_game import Game
from agent import Agent

warnings.simplefilter(action='ignore', category=FutureWarning)

NR_OF_PLAYERS = random.randint(1, 10)
BLIND = 50
STACK = 10_000
DB_TABLE = 'tests'
NR_OF_GAMES = 10

DB = 'postgres://localhost/poker'
ENGINE = sqlalchemy.create_engine(DB)

DF = pd.read_sql(DB_TABLE, ENGINE)

In [22]:
DF.head()

,index,action,action_last_0,action_last_1,action_last_2,action_last_3,action_last_4,action_second_0,action_second_1,action_second_2,...,community4,community5,game,hand1,hand2,player,position,round,reward,reward_of_action
0,0,1,1.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.826923,0.038462,2.0,0.333333,0.0,0.0,0.166667
1,1,2,1.0,1.000000,0.333333,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.153846,0.115385,3.0,0.500000,0.0,-100.0,0.165000
2,2,2,1.0,1.000000,0.333333,0.666667,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.057692,0.538462,4.0,0.666667,0.0,-100.0,0.165000
3,3,2,1.0,1.000000,0.333333,0.666667,0.666667,0.0,0.0,0.0,...,0.0,0.0,1.0,0.596154,0.807692,5.0,0.833333,0.0,600.0,0.176667
4,4,3,1.0,0.333333,0.666667,0.666667,0.666667,0.0,0.0,0.0,...,0.0,0.0,1.0,0.557692,0.653846,0.0,0.000000,0.0,-300.0,0.162500

In [112]:
assert not DF.bet.values.any() > 1

In [55]:
DF.head()

,index,action,action_last_0,action_last_1,action_last_2,action_last_3,action_last_4,action_second_0,action_second_1,action_second_2,...,community4,community5,game,hand1,hand2,player,position,round,reward,reward_of_action
0,0,1,1.0,1.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.826923,0.038462,2.0,0.333333,0.0,0.0,0.166667
1,1,2,1.0,1.000000,0.333333,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.153846,0.115385,3.0,0.500000,0.0,-100.0,0.165000
2,2,2,1.0,1.000000,0.333333,0.666667,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.057692,0.538462,4.0,0.666667,0.0,-100.0,0.165000
3,3,2,1.0,1.000000,0.333333,0.666667,0.666667,0.0,0.0,0.0,...,0.0,0.0,1.0,0.596154,0.807692,5.0,0.833333,0.0,600.0,0.176667
4,4,3,1.0,0.333333,0.666667,0.666667,0.666667,0.0,0.0,0.0,...,0.0,0.0,1.0,0.557692,0.653846,0.0,0.000000,0.0,-300.0,0.162500

In [80]:
variables = ['action_last_0', 'action_last_1', 'action_last_2',
                 'action_last_3', 'action_last_4',
                 'action_second_0', 'action_second_1', 'action_second_2',
                 'action_second_3', 'action_second_4',
                 'action_third_0', 'action_third_1', 'action_third_2',
                 'action_third_3', 'action_third_4',
                 'bet', 'bet_0', 'bet_1', 'bet_2', 'bet_3', 'bet_4',
                 'community1', 'community2', 'hand1', 'hand2', 'position',
                 'round', 'reward_of_action'
                 ]

for variable in variables:
    print(variable)
    0 <= DF[variable] <= 1
    #assert , f'{variable} is out of bounds!'

action_last_0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [105]:
assert not (0 < DF['action_last_0'].values.any() > 1)